{% extends  "layout.html"%}
{% set bodyId = "page-ideias" %}

{% block title %}
    <title>Ideias - Casa Criativa</title>
{% endblock %}


{% block content %}

    <div id="container">
        <header>
            <a href="/">
                <img src="../images/logo.png" alt="Imagem da Logomarca">
            </a>
            
            <nav>
                <li><a href="/">Início</a></li>
                <li><a href="#" class="button" onclick="onOff()" >Nova Ideia</a></li>
            </nav>
         </header>
     
         <section id="title">
             <p>em exibição</p>
             <h1>Ideias</h1>
         </section>
     
         <main>
             <section id="ideias">
                {% include "all-ideias.html" %}
             </section>
         </main>
    </div>

{% endblock %}